# Carpetas de dependencias
node_modules/
# Archivos de entorno
.env
.env.local
.env.*.local

# Salidas de logs y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Salidas de producción y build
dist/
build/
.vercel

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/

# Otros
*.tgz
.idea/